<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新派单</title>
    <script src="plugins/jquery/jquery-3.2.0.min.js"></script>
    <script src="plugins/layui-v2.7.5/layui.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="js/common/app.js"></script>
    <link rel="stylesheet" href="plugins/layui-v2.7.5/css/layui.css" media="all"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/console.css"/>
    <style>
        .dispatch-page{
            background-color: #fafafa !important;
            color: #5f5f5f !important;
            margin-bottom: 15px;
            border-radius: 2px;
            box-shadow: 0 1px 2px 0 rgb(0 0 0 / 5%);
            position: relative;
            padding: 10px 15px;
            line-height: 24px;
        }
        .dispatch-page .dispatch-header{
            display: flex;
            justify-content: space-between;
        }
        .dispatch-main{
            /*display: flex;*/
            /*justify-content: center;*/
            /*align-items: center;*/
            min-height: 300px;
        }
        .create-form{
            height: 450px;
            overflow: auto;
            /*width: 800px;*/
        }
        .create-form .form-item{
            display: flex;
            align-items: center;
            padding: 4px 0;
        }
        .create-form .form-item .el-form-item{
            /*margin-bottom: 0;*/
            margin-right: 18px;
        }
        .create-form .form-item .form-item-index{
            height: 28px;
            line-height: 28px;
            text-decoration: none;
            width: 2em;
            text-align: right;
            margin-right: 0;
        }

        .dispatch-list{
            padding: 24px 0;
        }
        .dispatch-list .pagination{
            padding-left: 120px;
        }
        .dispatch-list .groups{
        }
        .dispatch-list .group-item{
            display: flex;
            margin-bottom: 24px;
        }
        .dispatch-list .group-name{
            box-sizing: border-box;
            width: 120px;
            padding-right: 24px;
            text-align: right;
            font-size: 18px;
            line-height: 38px;
            color: #666;
        }
        .dispatch-list .group-list{
            display: flex;
            flex-direction: column;
        }
        .dispatch-list .group-list li{
            display: flex;
            font-size: 14px;
            color: #333;
        }
        .dispatch-page .valid-price{
            font-size: 12px;
            line-height: 1.2em;
        }
        .dispatch-page .create-btn-wrap{
            width: 100%;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .dialog-header{
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
<div class="dispatch-page" id="app">
    <div class="dispatch-header">
        <div>
            <h3 style="padding: 10px 0 0 45px; color: red;" > 该用户今日已抢单：{{qiangNum}}单 ## 卡单起始单数 {{qiangNum+1}}</h3>
            <h3 style="padding: 10px 0 0 45px; color: red;"> 说明：卡单 设置完毕后 大于卡单起始单数的 卡单 将被一起推送给用户</h3>
        </div>
        <div>
            <el-button v-if="canCreate" size="medium" type="primary"
                       @click="onCreate" style="margin-right: 24px">创建订单</el-button>

            <el-date-picker
                    v-model="selectTime"
                    type="date"
                    placeholder="选择日期">
            </el-date-picker>

            <el-select v-model="whichGroup" placeholder="请选择分组">
                <el-option label="全部分组" value=""></el-option>
                <el-option
                        v-for="item in groupOptions"
                        :key="item.value"
                        :label="item.name"
                        :value="item.value">
                </el-option>
            </el-select>
        </div>
    </div>

    <div class="dispatch-main">
        <div class="dispatch-list" v-if="dispatchList.length">
            <div class="groups">
                <div class="group-item" v-for="group in dispatchList" :key="group.key">
                    <div class="group-name">{{group.name}}</div>
                    <el-table
                            size="mini"
                            :data="group.list"
                            style="width: 100%">
                        <el-table-column
                                label="#"
                                type="index"
                                width="50">
                        </el-table-column>
                        <el-table-column
                                prop="orderQuantity"
                                label="单号">
                        </el-table-column>
                        <el-table-column
                                prop="minPrice"
                                label="价格(元)">
                            <template slot-scope="scope">
                                <span>{{scope.row.minPrice}} - {{scope.row.maxPrice}}</span>
                            </template>
                        </el-table-column>
                        <el-table-column
                                prop="hinder"
                                label="卡单">
                            <template slot-scope="scope">
                                <el-tag
                                        :type="scope.row.hinder === 1 ? 'primary' : 'success'" size="mini"
                                        disable-transitions>{{scope.row.hinder === 1 ? '卡单' : '未卡单'}}</el-tag>
                            </template>
                        </el-table-column>

                        <el-table-column
                                prop="cz"
                                label="操作">
                            <template slot-scope="scope">
                                <div>
                                    <el-button v-if="scope.row.orderStatus === 0" type="primary" size="mini" @click="function() { onHandleModify(scope.row) }">修改价格</el-button>
                                </div>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </div>
            <div class="pagination">
                <el-pagination
                        :page-sizes="[20, 50, 100]"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="total"
                        :page-size.sync="pageSize"
                        :current-page.sync="pageNum"
                >
                </el-pagination>
            </div>
        </div>
        <div class="create-btn-wrap" v-else>
            <p style="font-size: 16px">没有订单</p>
<!--            <el-button size="medium" type="primary" @click="onCreate">创建订单</el-button>-->
        </div>
    </div>

    <div style="display: flex; justify-content: center; margin: 24px auto">
        <el-button @click="onCancel">取消</el-button>
    </div>

    <el-dialog title="创建订单" :visible.sync="dialogVisible" width="1050px" :close-on-click-modal="false">
        <div class="dialog-header" slot="title">
            <div class="el-dialog__title">创建订单</div>

<!--            <div style="margin-left: 24px">-->
<!--                所在分组：-->
<!--                <el-select v-model="formData.whichGroup" size="small" placeholder="请选择分组" >-->
<!--                    <el-option-->
<!--                            v-for="item in createGroupOptions"-->
<!--                            :key="item.value"-->
<!--                            :label="item.name"-->
<!--                            :value="item.value">-->
<!--                    </el-option>-->
<!--                </el-select>-->
<!--            </div>-->
        </div>
        <div>
            <div class="create-form">
                <el-form :model="formData" ref="form" inline  size="mini" label-width="70px">
                    <div v-for="(item, index) in formData.list" :key="index" class="form-item" >
                        <i class="el-form-item el-form-item--mini form-item-index">{{index + 1 }}.</i>
                        <el-form-item
                                label="单号"
                                :required="Boolean(item.serialNumber || item.minPrice || item.maxPrice)"
                                :rules="orderQuantityRules"
                                :key="whichGroup + index + '_orderQuantity'"
                                :prop="'list.' + index + '.orderQuantity'"
                        >
                            <el-input
                                    style="width: 120px"
                                    v-model="item.orderQuantity" size="small" type="number" min="0"
                                    placeholder="请输入单号"
                                    :disabled="item.orderStatus === 1"></el-input>
                        </el-form-item>
                        <el-form-item
                                label="min(元)"
                                :rules="(item.serialNumber || item.minPrice || item.maxPrice) ? minPriceRules : {}"
                                :key="whichGroup + index + '_minPrice'"
                                :prop="'list.' + index + '.minPrice'"
                        >
                            <el-input
                                    style="width: 140px"
                                    v-model="item.minPrice" size="small" type="number" min="0"
                                    placeholder="请输入min"
                                    :disabled="item.orderStatus === 1"></el-input>
                        </el-form-item>
                        <el-form-item
                                label="max(元)"
                                :rules="(item.serialNumber || item.minPrice || item.maxPrice) ? maxPriceRules : {}"
                                :key="whichGroup + index + '_maxPrice'"
                                :prop="'list.' + index + '.maxPrice'"
                        >
                            <el-input
                                    style="width: 140px"
                                    v-model="item.maxPrice" size="small" type="number" min="0"
                                    placeholder="请输入max"
                                    :disabled="item.orderStatus === 1"></el-input>
                        </el-form-item>
                        <el-form-item
                                :rules="hinderRules"
                                :prop="'list.' + index + '.hinder'"
                        >
                            <el-checkbox v-model="item.hinder"
                                         :true-label="1"
                                         :false-label="2"
                                         :disabled="item.orderStatus === 1" size="medium">卡单</el-checkbox>
                        </el-form-item>
                        <div class="el-form-item el-form-item--mini">
                            <el-button type="primary" :loading="item.validPriceLoading" size="mini" @click="function() { onValidateAll(item, index) }">校验</el-button>
                        </div>
                        <div class="el-form-item el-form-item--mini" v-if="item.validPrice || item.validOrder" style="margin-right: 0">
                            <div class="valid-price" v-if="item.validPrice" :style="{ color: item.validPrice === 1 ? 'green' : 'red' }" >
                                {{item.validPrice === 1 ? '价格校验通过' : '请重新输入价格范围'}}</div>
                            <div class="valid-price" v-if="item.validOrder" :style="{ color: item.validOrder === 1 ? 'green' : 'red'}" >
                                {{item.validOrder === 1 ? '单号校验通过' : '单号已存在！请重新输入'}}
                            </div>
                        </div>
                    </div>
                </el-form>
            </div>
        </div>
        <div slot="footer">
            <div style="display: flex; justify-content: center">
                <el-button type="primary" @click="onCreateSubmit" :loading="submitLoading">提交</el-button>
                <el-button @click="onCreateCancel">取消</el-button>
            </div>
        </div>
    </el-dialog>

    <el-dialog title="修改价格" :visible.sync="modifyVisible" :close-on-click-modal="false">
        <el-form :model="modifyForm" :rules="modifyRules" ref="modifyForm">
            <el-form-item
                    label="min(元)"
                    prop="minPrice"
            >
                <el-input
                        v-model="modifyForm.minPrice" size="small" type="number" min="0"
                        placeholder="请输入min" ></el-input>
            </el-form-item>
            <el-form-item
                    label="max(元)"
                    prop="maxPrice"
            >
                <el-input
                        v-model="modifyForm.maxPrice" size="small" type="number" min="0"
                        placeholder="请输入max" ></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="onModifyCancel">取 消</el-button>
            <el-button type="primary" @click="onModifyConfirm" :disabled="modifyConfirmLoading">确 定</el-button>
        </div>
    </el-dialog>

</div>

<script>
    var params = $.getUrlVars();
    new Vue({
        el: '#app',
        data: function () {
            return {
                memberId: params.id || '15', // 开发方便
                selectTime: new Date(),
                whichGroup: '',
                qiangNum: 0,
                total: 0,
                pageSize: 20,
                pageNum: 1,
                dialogVisible: false,
                submitLoading: false,
                banValidate: false,
                validOrderLoading: false,

                dispatchList: [],
                formData: {
                    whichGroup: '',
                    list: []
                },
                orderQuantityRules: [
                    {
                        // required: true, message: '单号不能为空',
                        trigger: 'change',
                        validator: function (rule, value, callback) {
                            if (this.banValidate) {
                                return callback();
                            }
                            var fieldSplit = rule.field.split('.');
                            var index = Number(fieldSplit[1]);
                            var field = fieldSplit[2];
                            var item = this.formData.list[index];
                            var v = item[field];
                            if (item.validOrderLoading) return;
                            if (!v) {
                                return callback(new Error('请输入单号'))
                            }
                            this.onValidatorNum.call(this, item, index, callback);
                            // callback()
                        }.bind(this),
                    },
                ],
                minPriceRules: [
                    {
                        required: true, message: 'min不能为空', trigger: 'change',
                        validator: function (rule, value, callback) {
                            if (this.banValidate) {
                                return callback();
                            }
                            if (!value) return callback(new Error(rule.message));
                            var fieldSplit = rule.field.split('.');
                            var index = Number(fieldSplit[1]);
                            var item = this.formData.list[index];
                            this.onValidatePrice(item, index, callback);
                        }.bind(this),
                    },
                ],
                maxPriceRules: [
                    {
                        required: true, message: 'max不能为空', trigger: 'change',
                        validator: function (rule, value, callback) {
                            if (this.banValidate) {
                                return callback();
                            }
                            if (!value) return callback(new Error(rule.message));
                            var fieldSplit = rule.field.split('.');
                            var index = Number(fieldSplit[1]);
                            var item = this.formData.list[index];
                            this.onValidatePrice(item, index, callback);
                        }.bind(this),
                    },
                ],
                hinderRules: [],
                groupOptions: [],
                modifyRules: {
                    minPrice: [
                        {
                            required: true, message: 'min不能为空', trigger: 'change',
                        }
                    ],
                    maxPrice: [
                        {
                            required: true, message: 'min不能为空', trigger: 'change',
                        }
                    ],
                },
                modifyForm: {},
                modifyVisible: false,
                modifyConfirmLoading: false,
            }
        },
        mounted: function () {
            this.onInit();
        },
        methods: {
            onInit: function () {
                this.onQiang();
                this.onGetGroup(this.onQueryList);
            },
            onQueryList: function () {
                $.request({
                    url: '/action/dispatch/list?memberId=' + this.memberId,
                    type: 'post',
                    data: this.queryParams,
                    success: function (result) {
                        var list = result.data.list || [];
                        this.pageNum = result.data.pageNum;
                        this.pageSize = result.data.pageSize;
                        this.total = result.data.total;
                        var data = this.onGroupingData(list, function (item) {
                            return item.whichGroup;
                        })
                        // console.log(list, data);
                        this.dispatchList = data;
                    }.bind(this)
                })
            },
            // 对数据进行分组
            onGroupingData: function (arr = [], fun) {
                var data = [];
                for (var i = 0; i < arr.length; i++) {
                    var item = arr[i];
                    var key = fun(item, i, arr);
                    var findItem = data.find(function (item) {
                        return item.key === key;
                    }.bind(this));
                    if (!findItem) {
                        data.push({
                            key: key,
                            name: '分组' + key,
                            list: [item],
                        })
                    } else {
                        findItem.list.push(item)
                    }
                }
                var sortData = data.map(function (o) {
                    var item = Object.assign({}, o)
                    item.list = item.list.sort(function (a, b) {
                        return a.orderQuantity - b.orderQuantity;
                    })
                    return item;
                });
                return sortData;
                // grouping
            },
            onCreate: function () {
                // this.formData.whichGroup = i;
                this.formData = {
                    whichGroup: this.newGroupId,
                    list: this.onFill([]),
                };

                this.dialogVisible = true;
            },
            onCreateValidate: function (cb) {
                var orders = this.formData.list.map(function (item) {
                    return item.orderQuantity;
                }).filter(function (item) {
                    return item
                });
                var isRepeat = function (arr) {
                    var o = {};
                    for (var i = 0; i < arr.length; i++) {
                        var k = arr[i];
                        if (o[k]) {
                            return true;
                        }
                        o[k] = k;
                    }
                    return false;
                }
                if (isRepeat(orders)) {
                    layer.msg('单号不能重复！', {icon: 2});
                    cb(false);
                    return;
                }

                this.banValidate = true;
                this.$refs['form'].validate(function (valid) {
                    this.banValidate = false;
                    cb(valid);
                }.bind(this));
            },
            onCreateSubmit: function () {
                this.onCreateValidate(function (valid) {
                    console.log('valid', valid);
                    if (valid) {
                        var fd = this.onGetCreateformData()
                        console.log('fd', fd);
                        if (fd.length === 0) {
                            layer.msg('请输入单号和价格', {icon: 2});
                            return;
                        }
                        this.submitLoading = true;
                        $.request({
                            url: '/action/dispatch/assign',
                            type: 'post',
                            data: fd,
                            showLoading: true,
                            success: function (result) {
                                layer.msg('创建派单成功', {icon: 1});
                                this.onCreateCancel();
                                this.onInit();
                            }.bind(this),
                            complete: function () {
                                this.submitLoading = false;
                            }.bind(this)
                        });
                    } else {
                    }
                }.bind(this));
            },
            onCreateCancel: function () {
                this.formData.list = [];
                this.dialogVisible = false;
            },
            onGetCreateformData: function () {
                var q = {
                    memberId: Number(this.memberId),
                    createTime: this.selectTime ? $.dateFormat(this.selectTime) : '',
                    whichGroup: this.formData.whichGroup,
                };
                var fd = this.formData.list.filter(function (item) {
                    if (item.orderStatus === 1) return false;
                    if (!item.minPrice) return false;
                    if (!item.maxPrice) return false;
                    return true;
                }).map(function (item) {
                    var o = Object.assign({}, item, q);
                    if (!o.memberId) o.memberId = Number(this.memberId);
                    if (!o.createTime) o.createTime = new Date();
                    o.minPrice = Number(o.minPrice);
                    o.maxPrice = Number(o.maxPrice);
                    delete o.validPrice;
                    delete o.validPriceLoading;
                    delete o.validOrderLoading;
                    return o;
                }.bind(this));
                return fd;
            },
            // 抢单号
            onQiang: function () {
                $.request({
                    url: '/action/convey/qiang',
                    type: 'post',
                    data: this.queryParams,
                    success: function (result) {
                        // 该用户今日已抢单
                        this.qiangNum = result.data || 0;
                    }.bind(this)
                });
            },
            onFill: function (arr) {
                var l = 20;
                var newArr = [];
                for (var i = 1; i <= l; i++) {
                    // var find = (arr.slice()).find(function (item) {
                    //     return item.orderQuantity === i;
                    // });
                    // if (find) {
                    //     newArr.push(find);
                    // } else {
                        newArr.push({
                            orderQuantity: '',
                            serialNumber: '',
                            minPrice: '',
                            maxPrice: '',
                            hinder: 2,
                        });
                    // }
                }
                return newArr;
            },
            // 校验价格
            onValidatePrice: $.debounce(function (item, i, callback) {
                if (!item.maxPrice || !item.minPrice) {
                    callback && callback()
                    return;
                }
                this.onSetFormDataItem(i, { validPriceLoading: true });
                $.request({
                    url: '/action/dispatch/check',
                    type: 'post',
                    data: item,
                    success: function () {
                        this.onSetFormDataItem(i, { validPrice: 1, validPriceLoading: false });
                    }.bind(this),
                    fail: function (fail) {
                        this.onSetFormDataItem(i, { validPrice: 2, validPriceLoading: false });
                    }.bind(this),
                    complete: function () {
                        callback && callback();
                    }
                });
            }, 800, false),

            // 校验单号和价格
            onValidateAll: function (item, i, callback) {
                this.onValidatorNum(item, i);
                this.onValidatePrice(item, i);
            },

            // 校验单号
            onValidatorNum: $.debounce(function (item, i, callback) {
                this.onSetFormDataItem(i, { validOrderLoading: true });
                var fd = Object.assign({}, item, this.queryParams);
                $.request({
                    url: '/action/dispatch/verification',
                    type: 'post',
                    data: fd,
                    success: function (result) {
                        this.onSetFormDataItem(i, { validOrder: 1, validOrderLoading: false });
                    }.bind(this),
                    fail: function (result) {
                        this.onSetFormDataItem(i, { validOrder: 2, validOrderLoading: false });
                    }.bind(this),
                    complete: function () {
                        callback && callback();
                    }.bind(this),
                })
            }, 500, false),

            // 校验价格
            // onValidator: $.debounce(function (item, i, callback) {
            //     if (!value) return callback(new Error(rule.message));
            //     this.onValidatePrice.call(this, item, index, callback);
            // }, 800, false),

            onSetFormDataItem: function (i, o) {
                var newList = this.formData.list.slice();
                newList[i] = Object.assign({}, newList[i], o);
                this.formData.list = newList;
            },

            onGetGroup: function (cb) {
                var fd = Object.assign({}, this.queryParams);
                delete fd.whichGroup;
                $.request({
                    url: '/action/dispatch/find',
                    type: 'post',
                    data: fd,
                    success: function (result) {
                        if (result.data === 1) {
                            // 没有分组，那么应该没数据
                            this.groupOptions = [];
                            this.dispatchList = [];
                            return;
                        }
                        var options = (result.data || []).map((item) => {
                            return { name: '分组' + item, value: item}
                        });
                        // if (options.length) {
                        //     this.whichGroup = options[0].value;
                        // }
                        this.groupOptions = options;
                        cb && cb();
                    }.bind(this)
                })
            },

            onHandleModify: function (item) {
                this.modifyForm = Object.assign({}, item);
                this.modifyVisible = true;
                console.log('v', item);
            },

            // 取消
            onCancel: function () {
                window.parent.layui.tab.tabAdd({id: '859a3314b98b427d98f69f3574e953a6'})
                window.parent.layui.tab.close('dispatch_' + this.memberId);
            },

            // 修改价格校验
            onModifyValidator: function (callback) {

                this.$refs['modifyForm'].validate(function (valid) {
                    if (!valid) {
                        layer.msg('请输入价格范围', {icon: 2});
                        callback(false);
                        return;
                    }
                    var item = Object.assign({}, this.modifyForm);
                    $.request({
                        url: '/action/dispatch/check',
                        type: 'post',
                        data: item,
                        success: function () {
                            callback(true);
                        },
                        fail: function (fail) {
                            layer.msg('请重新输入价格范围', {icon: 2});
                            callback(false);
                        }.bind(this),
                        error: function () {
                            layer.msg('请重新输入价格范围', {icon: 2});
                            callback(false);
                        }.bind(this)
                    });

                }.bind(this))

            },

            onModifyConfirm: function () {
                this.modifyConfirmLoading = true;
                this.onModifyValidator(function (valid) {
                    if (!valid) {
                        this.modifyConfirmLoading = false;
                        return;
                    }
                    var fd = [this.modifyForm];
                    $.request({
                        url: '/action/dispatch/assign',
                        type: 'post',
                        data: fd,
                        showLoading: true,
                        success: function (result) {
                            layer.msg('修改价格成功', {icon: 1});
                            this.onModifyCancel();
                            this.onInit();
                        }.bind(this),
                        complete: function () {
                            this.modifyConfirmLoading = false;
                        }.bind(this)
                    });
                }.bind(this));
            },

            onModifyCancel: function () {
                this.modifyForm = {};
                this.modifyVisible = false;
            },

        },

        computed: {
            queryParams: function () {
                var params = {
                    memberId: Number(this.memberId),
                    createTime: this.selectTime ? $.dateFormat(this.selectTime) : '',
                    whichGroup: this.whichGroup || '',
                    pageSize: this.pageSize,
                    pageNum: this.pageNum,
                };
                return params;
            },
            // 新的分组id
            newGroupId: function () {
                if (this.groupOptions.length === 0) return 1;
                var i = Math.max.apply(null, this.groupOptions.map(function (item) {
                    return item.value;
                }))  || 0;
                return i + 1;
            },
            // 创建表单的分组选项
            createGroupOptions: function () {
                var options = this.groupOptions.slice();
                options.unshift({
                    name: '创建新分组',
                    value: this.newGroupId,
                })
                return options;
            },
            canCreate: function () {
                var d = new Date();
                d.setHours(0);
                d.setMinutes(0);
                d.setSeconds(0);
                d.setMilliseconds(0);
                return this.selectTime.getTime() >= d.getTime()
            },
        },
        watch: {
            queryParams: function () {
                this.onInit();
            }
        },
    });
</script>
</body>
</html>