<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.macro.mall.mapper.AppGoodsSortMapper">
  <resultMap id="BaseResultMap" type="com.macro.mall.model.AppGoodsSort">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="commission" jdbcType="REAL" property="commission" />
    <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="goods_info" jdbcType="VARCHAR" property="goodsInfo" />
    <result column="goods_add_time" jdbcType="TIMESTAMP" property="goodsAddTime" />
    <result column="min" jdbcType="DECIMAL" property="min" />
    <result column="level_id" jdbcType="BIGINT" property="levelId" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.macro.mall.model.AppGoodsSort">
    <result column="goods_pic" jdbcType="LONGVARCHAR" property="goodsPic" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, commission, goods_name, shop_name, goods_info, goods_add_time, min, level_id
  </sql>
  <sql id="Blob_Column_List">
    goods_pic
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.macro.mall.model.AppGoodsSortExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from app_goods_sort
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.macro.mall.model.AppGoodsSortExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from app_goods_sort
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from app_goods_sort
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from app_goods_sort
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.macro.mall.model.AppGoodsSortExample">
    delete from app_goods_sort
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.macro.mall.model.AppGoodsSort">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into app_goods_sort (commission, goods_name, shop_name, 
      goods_info, goods_add_time, min, 
      level_id, goods_pic)
    values (#{commission,jdbcType=REAL}, #{goodsName,jdbcType=VARCHAR}, #{shopName,jdbcType=VARCHAR}, 
      #{goodsInfo,jdbcType=VARCHAR}, #{goodsAddTime,jdbcType=TIMESTAMP}, #{min,jdbcType=DECIMAL}, 
      #{levelId,jdbcType=BIGINT}, #{goodsPic,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.macro.mall.model.AppGoodsSort">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into app_goods_sort
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commission != null">
        commission,
      </if>
      <if test="goodsName != null">
        goods_name,
      </if>
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="goodsInfo != null">
        goods_info,
      </if>
      <if test="goodsAddTime != null">
        goods_add_time,
      </if>
      <if test="min != null">
        min,
      </if>
      <if test="levelId != null">
        level_id,
      </if>
      <if test="goodsPic != null">
        goods_pic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commission != null">
        #{commission,jdbcType=REAL},
      </if>
      <if test="goodsName != null">
        #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="goodsInfo != null">
        #{goodsInfo,jdbcType=VARCHAR},
      </if>
      <if test="goodsAddTime != null">
        #{goodsAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="min != null">
        #{min,jdbcType=DECIMAL},
      </if>
      <if test="levelId != null">
        #{levelId,jdbcType=BIGINT},
      </if>
      <if test="goodsPic != null">
        #{goodsPic,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.macro.mall.model.AppGoodsSortExample" resultType="java.lang.Long">
    select count(*) from app_goods_sort
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update app_goods_sort
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.commission != null">
        commission = #{record.commission,jdbcType=REAL},
      </if>
      <if test="record.goodsName != null">
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
      </if>
      <if test="record.shopName != null">
        shop_name = #{record.shopName,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsInfo != null">
        goods_info = #{record.goodsInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsAddTime != null">
        goods_add_time = #{record.goodsAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.min != null">
        min = #{record.min,jdbcType=DECIMAL},
      </if>
      <if test="record.levelId != null">
        level_id = #{record.levelId,jdbcType=BIGINT},
      </if>
      <if test="record.goodsPic != null">
        goods_pic = #{record.goodsPic,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update app_goods_sort
    set id = #{record.id,jdbcType=BIGINT},
      commission = #{record.commission,jdbcType=REAL},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      shop_name = #{record.shopName,jdbcType=VARCHAR},
      goods_info = #{record.goodsInfo,jdbcType=VARCHAR},
      goods_add_time = #{record.goodsAddTime,jdbcType=TIMESTAMP},
      min = #{record.min,jdbcType=DECIMAL},
      level_id = #{record.levelId,jdbcType=BIGINT},
      goods_pic = #{record.goodsPic,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update app_goods_sort
    set id = #{record.id,jdbcType=BIGINT},
      commission = #{record.commission,jdbcType=REAL},
      goods_name = #{record.goodsName,jdbcType=VARCHAR},
      shop_name = #{record.shopName,jdbcType=VARCHAR},
      goods_info = #{record.goodsInfo,jdbcType=VARCHAR},
      goods_add_time = #{record.goodsAddTime,jdbcType=TIMESTAMP},
      min = #{record.min,jdbcType=DECIMAL},
      level_id = #{record.levelId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.macro.mall.model.AppGoodsSort">
    update app_goods_sort
    <set>
      <if test="commission != null">
        commission = #{commission,jdbcType=REAL},
      </if>
      <if test="goodsName != null">
        goods_name = #{goodsName,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null">
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="goodsInfo != null">
        goods_info = #{goodsInfo,jdbcType=VARCHAR},
      </if>
      <if test="goodsAddTime != null">
        goods_add_time = #{goodsAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="min != null">
        min = #{min,jdbcType=DECIMAL},
      </if>
      <if test="levelId != null">
        level_id = #{levelId,jdbcType=BIGINT},
      </if>
      <if test="goodsPic != null">
        goods_pic = #{goodsPic,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.macro.mall.model.AppGoodsSort">
    update app_goods_sort
    set commission = #{commission,jdbcType=REAL},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      shop_name = #{shopName,jdbcType=VARCHAR},
      goods_info = #{goodsInfo,jdbcType=VARCHAR},
      goods_add_time = #{goodsAddTime,jdbcType=TIMESTAMP},
      min = #{min,jdbcType=DECIMAL},
      level_id = #{levelId,jdbcType=BIGINT},
      goods_pic = #{goodsPic,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.macro.mall.model.AppGoodsSort">
    update app_goods_sort
    set commission = #{commission,jdbcType=REAL},
      goods_name = #{goodsName,jdbcType=VARCHAR},
      shop_name = #{shopName,jdbcType=VARCHAR},
      goods_info = #{goodsInfo,jdbcType=VARCHAR},
      goods_add_time = #{goodsAddTime,jdbcType=TIMESTAMP},
      min = #{min,jdbcType=DECIMAL},
      level_id = #{levelId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>