<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my.fast.admin.cg.mapper.AppGoodsSortMapper">
  <resultMap id="BaseResultMap" type="my.fast.admin.cg.entity.AppGoodsSort">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="commission_rate" jdbcType="REAL" property="commissionRate" />
    <result column="sort_name" jdbcType="VARCHAR" property="sortName" />
    <result column="explain_simple" jdbcType="VARCHAR" property="explainSimple" />
    <result column="goods_add_time" jdbcType="TIMESTAMP" property="goodsAddTime" />
    <result column="channel_id" jdbcType="BIGINT" property="channelId" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, commission_rate, sort_name, explain_simple, goods_add_time, channel_id
  </sql>
  <select id="selectByExample" parameterType="my.fast.admin.cg.entity.AppGoodsSortExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from app_goods_sort
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from app_goods_sort
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from app_goods_sort
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="my.fast.admin.cg.entity.AppGoodsSortExample">
    delete from app_goods_sort
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="my.fast.admin.cg.entity.AppGoodsSort">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into app_goods_sort (commission_rate, sort_name, explain_simple, 
      goods_add_time, channel_id)
    values (#{commissionRate,jdbcType=REAL}, #{sortName,jdbcType=VARCHAR}, #{explainSimple,jdbcType=VARCHAR}, 
      #{goodsAddTime,jdbcType=TIMESTAMP}, #{channelId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="my.fast.admin.cg.entity.AppGoodsSort">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into app_goods_sort
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="commissionRate != null">
        commission_rate,
      </if>
      <if test="sortName != null">
        sort_name,
      </if>
      <if test="explainSimple != null">
        explain_simple,
      </if>
      <if test="goodsAddTime != null">
        goods_add_time,
      </if>
      <if test="channelId != null">
        channel_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="commissionRate != null">
        #{commissionRate,jdbcType=REAL},
      </if>
      <if test="sortName != null">
        #{sortName,jdbcType=VARCHAR},
      </if>
      <if test="explainSimple != null">
        #{explainSimple,jdbcType=VARCHAR},
      </if>
      <if test="goodsAddTime != null">
        #{goodsAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="channelId != null">
        #{channelId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="my.fast.admin.cg.entity.AppGoodsSortExample" resultType="java.lang.Long">
    select count(*) from app_goods_sort
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update app_goods_sort
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.commissionRate != null">
        commission_rate = #{record.commissionRate,jdbcType=REAL},
      </if>
      <if test="record.sortName != null">
        sort_name = #{record.sortName,jdbcType=VARCHAR},
      </if>
      <if test="record.explainSimple != null">
        explain_simple = #{record.explainSimple,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsAddTime != null">
        goods_add_time = #{record.goodsAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.channelId != null">
        channel_id = #{record.channelId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update app_goods_sort
    set id = #{record.id,jdbcType=BIGINT},
      commission_rate = #{record.commissionRate,jdbcType=REAL},
      sort_name = #{record.sortName,jdbcType=VARCHAR},
      explain_simple = #{record.explainSimple,jdbcType=VARCHAR},
      goods_add_time = #{record.goodsAddTime,jdbcType=TIMESTAMP},
      channel_id = #{record.channelId,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="my.fast.admin.cg.entity.AppGoodsSort">
    update app_goods_sort
    <set>
      <if test="commissionRate != null">
        commission_rate = #{commissionRate,jdbcType=REAL},
      </if>
      <if test="sortName != null">
        sort_name = #{sortName,jdbcType=VARCHAR},
      </if>
      <if test="explainSimple != null">
        explain_simple = #{explainSimple,jdbcType=VARCHAR},
      </if>
      <if test="goodsAddTime != null">
        goods_add_time = #{goodsAddTime,jdbcType=TIMESTAMP},
      </if>
      <if test="channelId != null">
        channel_id = #{channelId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="my.fast.admin.cg.entity.AppGoodsSort">
    update app_goods_sort
    set commission_rate = #{commissionRate,jdbcType=REAL},
      sort_name = #{sortName,jdbcType=VARCHAR},
      explain_simple = #{explainSimple,jdbcType=VARCHAR},
      goods_add_time = #{goodsAddTime,jdbcType=TIMESTAMP},
      channel_id = #{channelId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>