<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="my.fast.admin.cg.mapper.AppGoodsMapper">
    <resultMap id="BaseResultMap" type="my.fast.admin.cg.entity.AppGoods">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="shop_name" jdbcType="VARCHAR" property="shopName"/>
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
        <result column="goods_info" jdbcType="VARCHAR" property="goodsInfo"/>
        <result column="goods_price" jdbcType="DECIMAL" property="goodsPrice"/>
        <result column="goods_pic" jdbcType="VARCHAR" property="goodsPic"/>
        <result column="goods_add_time" jdbcType="TIMESTAMP" property="goodsAddTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="goods_sort_id" jdbcType="BIGINT" property="goodsSortId"/>
        <result column="channel_id" jdbcType="BIGINT" property="channelId"/>
        <result column="task_group" jdbcType="INTEGER" property="taskGroup"/>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
        id
        , shop_name, goods_name, goods_info, goods_price, goods_pic, goods_add_time, status,
    goods_sort_id, channel_id, task_group
    </sql>
    <select id="selectByExample" parameterType="my.fast.admin.cg.entity.AppGoodsExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from app_goods
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from app_goods
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from app_goods
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <delete id="deleteByExample" parameterType="my.fast.admin.cg.entity.AppGoodsExample">
        delete from app_goods
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="my.fast.admin.cg.entity.AppGoods">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into app_goods (shop_name, goods_name, goods_info,
        goods_price, goods_pic, goods_add_time,
        status, goods_sort_id, channel_id, task_group)
        values (#{shopName,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR}, #{goodsInfo,jdbcType=VARCHAR},
        #{goodsPrice,jdbcType=DECIMAL}, #{goodsPic,jdbcType=VARCHAR}, #{goodsAddTime,jdbcType=TIMESTAMP},
        #{status,jdbcType=INTEGER}, #{goodsSortId,jdbcType=BIGINT}, #{channelId,jdbcType=BIGINT},
        #{taskGroup,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="my.fast.admin.cg.entity.AppGoods">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into app_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="shopName != null">
                shop_name,
            </if>
            <if test="goodsName != null">
                goods_name,
            </if>
            <if test="goodsInfo != null">
                goods_info,
            </if>
            <if test="goodsPrice != null">
                goods_price,
            </if>
            <if test="goodsPic != null">
                goods_pic,
            </if>
            <if test="goodsAddTime != null">
                goods_add_time,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="goodsSortId != null">
                goods_sort_id,
            </if>
            <if test="channelId != null">
                channel_id,
            </if>
            <if test="taskGroup != null">
                task_group,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="shopName != null">
                #{shopName,jdbcType=VARCHAR},
            </if>
            <if test="goodsName != null">
                #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsInfo != null">
                #{goodsInfo,jdbcType=VARCHAR},
            </if>
            <if test="goodsPrice != null">
                #{goodsPrice,jdbcType=DECIMAL},
            </if>
            <if test="goodsPic != null">
                #{goodsPic,jdbcType=VARCHAR},
            </if>
            <if test="goodsAddTime != null">
                #{goodsAddTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="goodsSortId != null">
                #{goodsSortId,jdbcType=BIGINT},
            </if>
            <if test="channelId != null">
                #{channelId,jdbcType=BIGINT},
            </if>
            <if test="taskGroup != null">
                #{taskGroup,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <!--批量插入商品数据-->
    <insert id="insertGoodsList">
        insert into app_goods (shop_name, goods_name, goods_info,
        goods_price, goods_pic, goods_add_time,
        status, goods_sort_id, channel_id, task_group)
        values
        <foreach collection="list" separator="," item="item" index="index">
            (#{item.shopName,jdbcType=VARCHAR}, #{item.goodsName,jdbcType=VARCHAR}, #{item.goodsInfo,jdbcType=VARCHAR},
            #{item.goodsPrice,jdbcType=DECIMAL}, #{item.goodsPic,jdbcType=VARCHAR},
            #{item.goodsAddTime,jdbcType=TIMESTAMP},
            #{item.status,jdbcType=INTEGER}, #{item.goodsSortId,jdbcType=BIGINT}, #{item.channelId,jdbcType=BIGINT},
            #{item.taskGroup,jdbcType=INTEGER})
        </foreach>
    </insert>
    <select id="countByExample" parameterType="my.fast.admin.cg.entity.AppGoodsExample" resultType="java.lang.Long">
        select count(*) from app_goods
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update app_goods
        <set>
            <if test="record.id != null">
                id = #{record.id,jdbcType=BIGINT},
            </if>
            <if test="record.shopName != null">
                shop_name = #{record.shopName,jdbcType=VARCHAR},
            </if>
            <if test="record.goodsName != null">
                goods_name = #{record.goodsName,jdbcType=VARCHAR},
            </if>
            <if test="record.goodsInfo != null">
                goods_info = #{record.goodsInfo,jdbcType=VARCHAR},
            </if>
            <if test="record.goodsPrice != null">
                goods_price = #{record.goodsPrice,jdbcType=DECIMAL},
            </if>
            <if test="record.goodsPic != null">
                goods_pic = #{record.goodsPic,jdbcType=VARCHAR},
            </if>
            <if test="record.goodsAddTime != null">
                goods_add_time = #{record.goodsAddTime,jdbcType=TIMESTAMP},
            </if>
            <if test="record.status != null">
                status = #{record.status,jdbcType=INTEGER},
            </if>
            <if test="record.goodsSortId != null">
                goods_sort_id = #{record.goodsSortId,jdbcType=BIGINT},
            </if>
            <if test="record.channelId != null">
                channel_id = #{record.channelId,jdbcType=BIGINT},
            </if>
            <if test="record.taskGroup != null">
                task_group = #{record.taskGroup,jdbcType=INTEGER},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update app_goods
        set id = #{record.id,jdbcType=BIGINT},
        shop_name = #{record.shopName,jdbcType=VARCHAR},
        goods_name = #{record.goodsName,jdbcType=VARCHAR},
        goods_info = #{record.goodsInfo,jdbcType=VARCHAR},
        goods_price = #{record.goodsPrice,jdbcType=DECIMAL},
        goods_pic = #{record.goodsPic,jdbcType=VARCHAR},
        goods_add_time = #{record.goodsAddTime,jdbcType=TIMESTAMP},
        status = #{record.status,jdbcType=INTEGER},
        goods_sort_id = #{record.goodsSortId,jdbcType=BIGINT},
        channel_id = #{record.channelId,jdbcType=BIGINT},
        task_group = #{record.taskGroup,jdbcType=INTEGER}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="my.fast.admin.cg.entity.AppGoods">
        update app_goods
        <set>
            <if test="shopName != null">
                shop_name = #{shopName,jdbcType=VARCHAR},
            </if>
            <if test="goodsName != null">
                goods_name = #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsInfo != null">
                goods_info = #{goodsInfo,jdbcType=VARCHAR},
            </if>
            <if test="goodsPrice != null">
                goods_price = #{goodsPrice,jdbcType=DECIMAL},
            </if>
            <if test="goodsPic != null">
                goods_pic = #{goodsPic,jdbcType=VARCHAR},
            </if>
            <if test="goodsAddTime != null">
                goods_add_time = #{goodsAddTime,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="goodsSortId != null">
                goods_sort_id = #{goodsSortId,jdbcType=BIGINT},
            </if>
            <if test="channelId != null">
                channel_id = #{channelId,jdbcType=BIGINT},
            </if>
            <if test="taskGroup != null">
                task_group = #{taskGroup,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="my.fast.admin.cg.entity.AppGoods">
        update app_goods
        set shop_name      = #{shopName,jdbcType=VARCHAR},
            goods_name     = #{goodsName,jdbcType=VARCHAR},
            goods_info     = #{goodsInfo,jdbcType=VARCHAR},
            goods_price    = #{goodsPrice,jdbcType=DECIMAL},
            goods_pic      = #{goodsPic,jdbcType=VARCHAR},
            goods_add_time = #{goodsAddTime,jdbcType=TIMESTAMP},
            status         = #{status,jdbcType=INTEGER},
            goods_sort_id  = #{goodsSortId,jdbcType=BIGINT},
            channel_id     = #{channelId,jdbcType=BIGINT},
            task_group     = #{taskGroup,jdbcType=INTEGER}
        where id = #{id,jdbcType=BIGINT}
    </update>
    <select id="randomOrders" resultType="my.fast.admin.cg.entity.AppGoods">
        SELECT t.*
        FROM (SELECT *
              FROM app_goods g
              WHERE g.goods_price between #{mateMinGoodsPrice,jdbcType=DECIMAL} and #{mateMaxGoodsPrice,jdbcType=DECIMAL}
                and g.status = 1
                and NOT EXISTS(SELECT * FROM app_convey c WHERE g.id = c.goods_id)) t
        ORDER BY RAND()
        LIMIT 0,1;
    </select>
    <select id="selectByGoodsId" resultType="my.fast.admin.cg.entity.AppGoods">
        select *
        from app_goods
        where id = #{id,jdbcType=BIGINT}
          and channel_id = #{channelId,jdbcType=BIGINT}
    </select>
    <select id="randomGoodsByExample" resultType="my.fast.admin.cg.entity.AppGoods">
        SELECT t.*
        FROM (SELECT *
              FROM app_goods g
              WHERE g.goods_price BETWEEN #{minPrice,jdbcType=DECIMAL} and #{maxPrice,jdbcType=DECIMAL}
                and g.channel_id = #{channelId,jdbcType=BIGINT}
                and g.status = 1
                AND NOT EXISTS(SELECT * FROM app_convey c WHERE g.id = c.goods_id)) t
        ORDER BY RAND()
        LIMIT 0,1;
    </select>
</mapper>